.navBar{
	position:fixed;
	width:100%;
	height:45px;
	line-height:45px;
	background-color:#FFFFFF;
	color:#004B97;
	border-bottom:1.5px solid #46A3FF;
}

.brandBar{
	float:left;
	padding-left:40px;
	width:auto;
	font-size:16px;
}

.userBar{
	float:right;
	width:auto;
	padding-right:20px
}

.leftBar{
	position:fixed;
	top:50px;
	width:30%; 
	height:100%; 
	background-color:#FFFFFF;
	border-right:0.7px solid #46A3FF;
}

.dataSelectorBar{
	width:100%;
	margin-top:20px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:20px;
}

a.dataSelector{
	text-decoration: none;
	position:relative;
	float: left;
	height:auto;
	width:16%;
	font-size: 18px;
	text-align: center;
}
a.dataSelector:link,a,dataSelector:visited{
	color:#46A3FF;
	border-bottom:1px solid #46A3FF;
}
a.dataSelector:hover{
	color:#0080FF;
}
a.dataSelector:active,a.dataSelector-active{
	color:#004B97;
	border-bottom:1px solid #004B97;
}



