.navBar{
	position:fixed;
	width:100%;
	height:45px;
	line-height:45px;
	background-color:#F9F9F9;
	color:#373737;
	border-bottom:1.5px solid #E0E0E0;
}

.brandBar{
	float:left;
	padding-left:40px;
	width:auto;
	font-size:16px;
}

.userBar{
	float:right;
	width:auto;
	padding-right:20px
}

.leftBar{
	position:fixed;
	top:50px;
	width:30%; 
	height:100%; 
	background-color:#F9F9F9; 
	border-right:0.7px solid #E0E0E0;
}

.dataSelectorBar{
	width:100%;
	margin-top:20px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:20px;
}

a.dataSelector{
	text-decoration: none;
	position:relative;
	float: left;
	height:auto;
	width:16%;
	font-size: 18px;
	text-align: center;
}
a.dataSelector:link,a,dataSelector:visited{
	color:#9A9A9A;
	border-bottom:1px solid #9A9A9A;
}
a.dataSelector:hover{
	color:#474747;
}
a.dataSelector:active{
	color:#272727;
	border-bottom:1px solid #272727;
}
a.dataSelector-active{
	color:#272727;
	border-bottom:1.2px solid #272727;
}



